
                <!-- InstanceEndEditable -->

              </div><!-- #CMScontent -->

              <div class="clear"></div>

            </div><!-- .mainbar -->

        </div><!--#container-->

    </div><!--#wrap -->


    <div id="foot" class="clearfix">

        <div class="sidebar">design by <a href="http://www.3crowncreative.com">3 Crown Creative</a></div>
        <div class="mainbar">
            web site &copy; molly tenenbaum 2016        </div>

    </div><!--#foot-->

<script type="text/javascript">/* <![CDATA[ */ var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-18919071-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})(); /* ]]> */</script>
