<div id="header">
    <h1><a href="/">molly tenenbaum</a></h1>
    <h2>poet, musician, teacher</h2>
</div><!-- #header -->

<div id="container" class="clearfix">

    <div class="sidebar">

        <ul id="nav">
            <li class="home first"><a href="/index.html">home</a></li>
            <li class="bio"><a href="/bio/index.html">bio</a></li>
            <li class="music"><a href="/music/index.html">music</a></li>
            <li class="poems"><a href="/poems/index.html">poems</a></li>
            <li class="store"><a href="/store/index.html">store</a></li>
            <li class="contact"><a href="/contact/index.html">contact</a></li>
        </ul><!--#nav-->

    </div><!-- .sidebar -->
